<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="tagging.mockData" version="0.0.1">
    <requires>
        <import plugin-id="tagging.taggingManager" />
    </requires>
    <runtime>
        <library id="core" path="../../classes/" type="code">
            <export prefix="*" />
        </library>
    </runtime>
    <extension plugin-id="tagging.taggingManager" point-id="Meta"
        id="mockDataMeta">
        <parameter id="class"
            value="tagging.twitter.TwitterMeta" />
    </extension>
 </plugin>