<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="tagging.mockData" version="0.0.1">
	<requires>
		<import plugin-id="tagging.taggingManager" />
	</requires>
	<runtime>
		<library id="core" path="../../classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="tagging.taggingManager" point-id="Meta"
		id="mockDataMeta">
		<parameter id="class" value="tagging.mockData.Meta" />
		<parameter id="class" value="tagging.todo.ui.TodoTagMeta" />
		<parameter id="class" value="tagging.people.ui.PeopleMeta" />
		<parameter id="class" value="tagging.text.ui.TextTagableMeta" />
		<parameter id="class" value="tagging.ui.ImporterMeta" />
		<parameter id="class" value="tagging.system.ui.SystemTagMeta" />
		<parameter id="class" value="tagging.ui.SearchViewMeta" />
		<parameter id="class" value="tagging.twitter.ui.TwitterMeta" />
	</extension>
</plugin>